* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #511b7a;
  color: #f5f5f5;
  position: relative;
}
h1 {
  font-weight: 700;
  font-size: 48px;
}
h2 {
  font-weight: 650;
  font-size: 32px;
}
.main-container {
  width: 80%;
  position: absolute;
  left: 8%;
  top: 18%;
}
.main-container h1 span {
  display: block;
  font-weight: 700;
  font-size: 48px;
  color: #85ec36;
  width: max-content;
  border-bottom: 6px solid #85ec36;
  border-radius: 2px;
}
.pwd-box {
  width: 45%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #f5f5f5;
  margin-block: 28px;
  padding-block: 10px;
  border-radius: 8px;
}
.pwd-box #copy-pwd {
  width: 5%;
  margin-right: 8px;
}
.pwd-box #copy-pwd:hover {
  cursor: pointer;
}
.pwd-box #copy-tick {
  position: absolute;
  right: -6%;
  bottom: 90%;
  width: 20%;
}
.hidden {
  display: none;
}

.pwd-box input {
  width: 90%;
  background: transparent;
  border: none;
  padding: 2px 12px;
}
.pwd-box input:focus {
  outline: none;
}

.focus-outline {
  outline: 2px solid #7ad832;
}

.pwd-size {
  width: 10%;
  background-color: #f5f5f5;
  color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.pwd-size button {
  background-color: #7ad832;
  border: none;
  width: 35%;
  padding: 8px 0;
}
.pwd-size button:hover {
  cursor: pointer;
  background-color: #85ec36;
}

.pwd-size #plus-size {
  border-radius: 0 12px 12px 0;
}
.pwd-size #minus-size {
  border-radius: 12px 0 0 12px;
}

.main-container #gen-pwd {
  width: 28%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  background-color: #7ad832;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 32px;
  font-weight: 500;
}
.main-container #gen-pwd:hover {
  cursor: pointer;
  background-color: #85ec36;
}

.main-container #gen-pwd img {
  width: 10%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
  .main-container h1 span {
    font-size: 38px;
  }
  .main-container {
    left: 4%;
  }
  .pwd-box {
    width: 100%;
  }
  .pwd-size {
    width: 50%;
  }
  .main-container #gen-pwd {
    width: 100%;
  }
}
@media screen and (max-width: 1445px) {
  h1 {
    font-size: 40px;
  }
  .main-container h1 span {
    font-size: 40px;
  }
  .pwd-box {
    width: 100%;
  }
  .pwd-size {
    width: 80%;
  }
  .main-container #gen-pwd {
    width: 100%;
  }
}
