* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  width: 100%;
  background: linear-gradient(135deg, #3d05f8, #2c84a2);
}

/* Utilities */
h1 {
  font-size: 48px;
  font-weight: 900;
}
h2 {
  font-size: 42px;
  font-weight: 800;
  text-transform: capitalize;
}
h3 {
  font-size: 38px;
  font-weight: 700;
}
h4 {
  font-size: 32px;
  font-weight: 600;
}

/* span{
    width: 40px;
} */
.main-container {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.to-do-app {
  width: 40%;
  min-height: 20%;
  margin-top: 80px;
  border-radius: 20px;
  padding: 20px 30px;
  margin-inline: auto;
  background-color: #f5f5f5;
}

.to-do-app h2 span img {
  width: 50px;
}
.to-do-app h2 {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.input-row {
  width: 100%;
  border-radius: 20px;
  margin-block: 20px;
  background-color: #ced2d5;
}
.form-outline {
  outline: 2px solid #d60d0d;
}
.input-row form {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.input-row form input {
  background: transparent;
  padding: 12px 18px;
  border: none;
}
.input-row form input:focus {
  outline: none;
}
/* .input-row form input:focus{

} */
.input-row form button {
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  background-color: #d60d0d;
  color: whitesmoke;
  border-radius: 20px;
}

.task-container {
  padding-inline: 8px;
}
.task-container ul {
  /* border: 2px solid red;
    width: 100%; */
}
.task-container ul li {
    /* border: 2px solid red; */
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 80fr 10fr;
    align-items: center;
    cursor: pointer;
    /* align-items: center;
    align-content: center;
    justify-content: space-between; */
    /* padding-block: 8px; */
    padding-left: 8px;
    margin-block: 10px;
    /* position: relative; */
}
.task-container ul li .task {
    font-size: 22px;
    /* display: flex;
    align-items: center; */
    /* align-self: baseline; */
    /* position: absolute; */
    /* left: 5%; */
    /* justify-self: left;
    border: 2px solid brown;
    width: 70%; */
}
.task-container ul li span img{
    width: 70%;
}
.task-container ul li .task-status img{
    
}
.task-container ul li .task-delete{
    /* border: 2px solid #3d05f8; */
    padding: 8px;
    
}
.task-container ul li .task-delete:hover{
    background-color: #ced2d5;
}
.task-container ul li .task-delete img{
    /* width: 70%; */
    display: block;
    margin: auto;
    
}
.done{
    text-decoration: line-through;
}